<div class="mt-2">
  <div class="list-group mt-2">
    <a class="list-group-item list-group-item-action active bg-dark"><strong>Kategoriler</strong></a>
    <a routerLink="/products" [class]="getAllCategoryClass()" href="#"
      class="list-group-item list-group-item-action">Tüm Kategoriler</a>
    <a *ngFor="let category of categories" (click)="setCurrentCategory(category)"
      routerLink="/products/category/{{ category.categoryId }}" [class]="getCurrentCategoryClass(category)" href="#">{{
      category.categoryName }}</a>
  </div>
</div>
<div *ngIf="currentCategory" class="mt-2">
  <span class="badge rounded-pill bg-primary">
    {{ currentCategory.categoryName }}
  </span>
  seçtiniz
</div>